@font-face {
    font-family: "Titillium";
    font-weight: 700;
    src: url("../Fonts/TitilliumWeb-Bold.ttf");

}
@font-face {
    font-family: "Titillium";
    font-weight: 500;
    src: url("../Fonts/TitilliumWeb-Regular.ttf");

}
@font-face {
    font-family: "Titillium";
    font-weight: 300;
    src: url("../Fonts/TitilliumWeb-SemiBold.ttf");
}
@font-face {
    font-family: "Titillium";
    font-weight: 200;
    src: url("../Fonts/TitilliumWeb-Italic.ttf");

}
@font-face {
    font-family: "Titillium";
    font-weight: 100;
    src: url("../Fonts/TitilliumWeb-Light.ttf");
}



body{
}
header,
footer, 
section {
   overflow: auto;
   /*padding: -1px;*/
   margin: 0px;

}

.row {
	width: 100%;
}

.myheader{
	background-color: #87509c;
	width: 100%;

}
.container{
	max-width: 100%
	height: auto;
}

.logo{
	width: 118px;
	height: 37px;
	border-radius: 4px;
}

.navbar-toggler-icon {
    display: inline-block;
    width: .75em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;

}

.navbar-light .navbar-nav .nav-link{
	margin: 0px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-family: "Titillium";
	font-weight: 400
	border-radius: 0.25rem;
}
.navbar{
	padding-top: 3rem;
}
.home{
	color: #ffffff;
	background-color: #643a79;
	border-radius: 0.25rem;

	
}
.sec1{
	background-color: #87509c;
	width: 100%;
	height: 21.5rem;

}
.sec1h1{
	font-size: 39px;
	line-height: 49px;
	font-weight: 700;
	color: #f7f3ea;
	font-family: "Titillium";
	font-weight: 600;
	text-align: center;
	padding-top: 5rem;
	padding-left: 30px;

}
.btn{
	width: 293px;
	height: 70px;
	border-radius: 4px;
	background-color: #eb7d4b;
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 26px;
	color: #ffffff;
	font-family: "Titillium";
	font-weight: 600;
}
.sec1-btn{
    padding-left: 408px;
    padding-top: 51px;
}
.sec1{
	background-color: #87509c;
	width: 100%;
	height: 21.5rem;

}
.sec2{
	margin: 0px;
  	height: 737px;
  	background-color: #17c2a4;
}
.sec2h1{

  color: #ffffff;
  font-size: 40px;
  letter-spacing: 4px;
  line-height: 30px;
  font-family: "Titillium";
  font-weight: 700;
  text-align: center;
  padding-top: 108px;
  padding-bottom: 18px;
  position: relative;
  padding-left: 34px;

}
.parentsec2h1 ::after{
  content: "";
  position:absolute;
  width: 87px;
  height: 4px;
  background-color:#14a58b;
  display: block;
  left: 47%;
  bottom: 0;

}
.sec2p{
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Titillium";
  text-align: center;
  padding-left: 30px;
}

.titlesec2{
	font-size: 19px;
	letter-spacing: 0px;
	line-height: 18px;
	color: #ffffff;
	font-family: "Titillium";
	font-weight: 700;
	padding-top: 30px;
}
.title1sec2{
	padding-left: 100px;
}
.title2sec2{
	padding-left: 100px;

}
.title3sec2{
	padding-left: 100px;

}
.title4sec2{
	padding-left: 100px;

}
.undertitlesec2{
	
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 24px;
	color: #ffffff;
	font-family: "Titillium";
	text-align: center;
	padding-top: 20px;
	
}
.undertitle1sec2{
	padding-left: 20px

}
.undertitle2sec2{
	padding-left: 50px;
}
.undertitle3sec2{
	padding-left: 70px;

	
}
.undertitle4sec2{
	padding-left: 50px;
	
}
/*.picsec2{
	width: 25%;
	float: left;
}*/
.picsec2{
	padding-left: 70px;
}


.sec3{
	margin: 0px;
  	height: 915px;
  	background-color: #e7f1f8;
}
.sec3h1{

    color: #3c4761;
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 30px;
    font-family: "Titillium";
    font-weight: 700;
    text-align: center;
    padding-top: 108px;
    padding-bottom: 18px;
    position: relative;
    padding-left: 33px;
}
.parentsec3h1 ::after{
    content: "";
    position:absolute;
    width: 87px;
    height: 4px;
    background-color: #bdd1df;
    display: block;
    left: 47%;
    bottom: 0;

}
.sec3p{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 26px;
 	color: #3c4761;
    font-family: "Titillium";
    font-weight: 400;
    text-align: center;
    padding-left: 30px;

}
.pic1sec3{
	padding-left: 60px;
	padding-top: 60px;
}

.titlesec3{
	font-size: 19px;
	letter-spacing: 0px;
	line-height: 18px;
	color: #27283d;
	font-family: "Titillium";
	font-weight: 700;
	padding-top: 30px;
}
.title1sec3{
	padding-left: 70px;
}
.title2sec3{
	padding-left: 80px;


}
.title3sec3{
	padding-left: 60px;



}
.title4sec3{
	padding-left: 30px;



}

.undertitle1sec3{
	
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 18px;
	color: #30bae7;
	font-family: "Titillium";
	font-weight: 400;
	text-align: center;
	/*padding-top: 20px;*/

}
.undertitle11sec3{
	padding-left: 60px;
	/*padding-left: 50px;*/


}
.undertitle12sec3{
	padding-left: 30px;
	/*padding-left: 50px;*/


	
}
.undertitle13sec3{
	/*padding-left: 50px;*/

	/*padding-left: 20px;*/

	
}
.undertitle14sec3{
	flex-basis: 400px;
	padding-right: 20px;


	
}

.undertitle2sec3{
	
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 24px;
	color: #3c4761;
	font-family: "Titillium";
	font-weight: 300;
	text-align: center;
}
.undertitle21sec3{
	flex-basis: 400px;
	padding-left: 40px;

}
.undertitle22sec3{
	flex-basis: 400px;
	padding-left: 40px;


}
.undertitle23sec3{
	flex-basis: 400px;
	padding-left: 40px;


}
.undertitle24sec3{
	flex-basis: 400px;
	padding-left: 20px;

}
.flex-img2sec3{
	display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 23px;
}
.pic21sec3{
	flex-basis: 500px;
	padding-left: 60px;


}
.pic22sec3{
	flex-basis: 500px;
	padding-left: 90px;

}
.pic23sec3{
	flex-basis: 500px;
	padding-left: 70px;

}
.pic24sec3{
	flex-basis: 500px;
	padding-left: 80px;

}








.sec4{
    margin: 0px;
  	height: 655px;
	background-color: #ffffff;
}
.sec4h1{

  color: #3c4761;
  font-size: 40px;
  letter-spacing: 4px;
  line-height: 30px;
  font-family: "Titillium";
  font-weight: 700;
  text-align: center;
  padding-top: 108px;
  padding-bottom: 18px;
  position: relative;
  padding-left: 34px;

}
.parentsec4h1 ::after{
  content: "";
  position:absolute;
  width: 87px;
  height: 4px;
  background-color:#dfe8ed;
  display: block;
  left: 47%;
  bottom: 0;

}
.sec4p{
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #3c4761;
  font-family: "Titillium";
  text-align: center;
  padding-left: 30px;
}

.titlesec4{
	font-size: 19px;
	letter-spacing: 0px;
	line-height: 18px;
	color: #3c4761;
	font-family: "Titillium";
	font-weight: 700;
	padding-top: 30px;
}
.title1sec4{
	flex-basis: 400px;
	padding-left: 150px;
}
.title2sec4{
	flex-basis: 400px;
	padding-left: 100px;

}
.title3sec4{
	flex-basis: 400px;
	padding-left: 40px;

}
.title4sec4{
	flex-basis: 400px;
	padding-left: 65px;

}

/*.picsec2{
	width: 25%;
	float: left;
}*/
.picsec4{
	padding-left: 70px;
}





/*responsive*/
@media only screen and (max-width: 500px) {
	
	.navbar{
	padding-top: 2rem;
	margin: -4px;
    }
    .navbar-expand-sm .navbar-expand-xs .container{
    margin: -1px;
    }
	.mylogo{
	width: 60px;
	height: 20px;
	border-radius: 1px;
	}
	.navbar-light .navbar-nav .nav-link{
	float: right;
	font-size: 10px;
		
	}
	
	.navbar-light .navbar-nav .nav-link{
	margin: 0px;
	color: #ffffff;
	line-height: 18px;
	color: #ffffff;
	font-family: "Titillium";
	font-weight: 300  ;
	border-radius: 0.25rem;
	width: 55px;
	text-align: center;

	}
	.navbar-light .navbar-toggler-icon {
	margin-top: -10px;

	}
	.navbar-toggler-icon{
	width: .5rem;
	height: .5rem;

	}

	.sec1{
	width: 100%;
	height: 400px;
	}
	.sec1h1{
	padding-top: 2rem;
  	font-size: 28px;
	line-height: 38px;
	font-weight: 600;
	}
	.btn{
	width: 100px;
	height: 45px;
	border-radius: 4px;
	background-color: #eb7d4b;
	font-size: 8px;
	letter-spacing: 0px;
	line-height: 26px;
	color: #ffffff;
	font-family: "Titillium";
	font-weight: 400;
	}
	.sec1-btn{
    padding-left: 120px;
    padding-top: 30px;
	}
	.sec2{
	width: 100%;
	height: auto;
	}
	
	.parentsec2h1 ::after{

   
    width: 50px;
    height: 3px;
    display: block;
    bottom: 10px;
    left: 47%;   
    }

    .sec2h1{

  	font-size: 28px;
	letter-spacing: 3px;
	line-height: 38px;
	font-weight: 600;
	padding-top: 60px;

	}
 
    .img-responsive{
	height: auto;
	display:inline-block;

	}
	.img1sec2{
	padding-left: 72px;

	}
	.img2sec2{
	padding-left: 77px;
	}
	.img3sec2{
	padding-left: 85px;
	}
	.img4sec2{
	padding-left: 75px;
	}
	.titlesec2{
	margin-top: -20px;
	}
	.title1sec2{
	 padding-left: 130px;
	}
	.title2sec2{
	padding-left: 143px;
	}
	.title3sec2{
	padding-left: 111px;
	}
	.title4sec2{
	padding-left: 105px;
	}
	.undertitlesec2{
	padding-left: 30px;
	}
	
	.sec3{
	height: 280px;
	}
	.sec3h1{
	
	text-align: center;
	font-size: 13px;
    line-height: 40px;
    letter-spacing: 2px;
    font-family: "Titillium";
    padding-top: 20px
	}

	
	.parentsec3h1 ::after{

    content: "";
    position:absolute;
    width: 30px;
    display: block;
    height: 2px;
    display: block;
    bottom: 18px;
    left: 50%;
    }
    .sec3p{
    text-align: center;
    font-size: 8.6px;
    line-height: 15px;
    font-weight: 100;
    margin-top: -40px;
    padding-top: 20px;
    }
	
    .img-responsive{
	height: auto;
	display:inline-block;
	box-sizing: content-box !important;
	}


	.img1sec3{
	padding-left: 30px;
	box-sizing: content-box !important;

	}
	.img11sec3{
	box-sizing: content-box !important;


	}
	.pic1sec3{
	padding-left: 20px;
	box-sizing: content-box !important;
	}
	.flex-img1sec3{

	margin-top: -60px;
	padding-left: 0px;
	margin-right: 20px;
	box-sizing: content-box !important;
	}

   
	.flex-titlesec3{
	padding-left: 0px;
	}
	.titlesec3{
	font-size: 6px;
    line-height: 18px;
    font-weight: 300;
    padding-top: 10px;
	}
	.title1sec3{
	flex-basis: 200px;
    padding-left: 50px;
	}
	.title2sec3{
	flex-basis: 200px;
    padding-left: 25px;

	}
	.title3sec3{
	flex-basis: 200px;
    padding-left: 10px;

	}
	.title4sec3{
	flex-basis: 200px;
    padding-right: 33px;
    padding-left: 0px;
	}

	.flex-undertitlesec3{
	margin-top: -5px;
	padding-left: 50px;
   
	}

	.undertitle1sec3{
	font-size: 5px;
	letter-spacing: 0px;
	line-height: 10px;
	font-weight: 100;
	text-align: center;
	padding-top: 0px;
	padding-left: 0px;
	margin-top: -15px;
	}
	.undertitle11sec3{
	flex-basis: 300px;
    padding-left: 30px;
    padding-right: 0px;

	}
	.undertitle12sec3{
	flex-basis: 200px;
    padding-left: 0px;
    padding-right: 8px;
	}
	.undertitle13sec3{
	flex-basis: 200px;
    padding-right: 12px;
	}
	.undertitle14sec3{
	flex-basis: 200px;
    padding-right: 30px;
	}

	.flex-undertitle2sec3{
	padding-right: 0px
	}
	.undertitle2sec3{
	
	font-size: 5px;
	letter-spacing: 0px;
	line-height: 8px;
	color: #3c4761;
	font-family: "Titillium";
	font-weight: 400;
	text-align: center;
	margin-top: -10px;
	padding-left: 0px;

	}
	.undertitle21sec3{
	padding-left: 40px;


	}
	.undertitle22sec3{
	padding-left: 8px;

	
	}
	.undertitle23sec3{
	padding-left: 8px;

	
	}
	.undertitle24sec3{
	padding-left: 0px;
    padding-right: 30px;

	
	}
	.flex-img2sec3{
	display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 45px;
    margin-top: -30px;
	}

	.pic21sec3{
	flex-basis: 100px;
	padding-left: 0px;


	}
	.pic22sec3{
	flex-basis: 100px;
	padding-left: 8px;

	}
	.pic23sec3{
	flex-basis: 100px;
	padding-left: 0px;
	padding-right: 5px;

	}
	.pic24sec3{
	flex-basis: 100px;
	padding-left: 0px;
	padding-right: 30px;

	}
	.img2sec3{
	width: 10px;
	}

	.sec4{
	width: 100%;
	height: auto;
	}
	.sec4h1{
	
	font-size: 13px;
	line-height: 40px;
    letter-spacing: 2px;
	font-family: "Titillium";
	text-align: center;
	padding-top: 20px;
	}

	.parentsec4h1 ::after{

    content: "";
    position:absolute;
    width: 30px;
    height: 2px;
    display: block;
    bottom: 18px;
    left: 50%;


   
    }
    .sec4p{
    font-size: 8.6px;
    line-height: 15px;
    font-weight: 100;
    margin-top: -40px;
    text-align: center;
    padding-top: 20px;
    }
    .picsec4{
	padding-left: 10px;
	}
	.flex-imgsec4{
	padding-left: 60px;
	margin-top: -40px;
	}
    .img-responsive{
	height: auto;
	display:inline-block;

	}
	.flex-titlesec4{
	padding-left: 50px;
	}
	.titlesec4{
	font-size: 6px;
	line-height: 18px;
	font-weight: 300;
	padding-top: 10px;
	}
	.title1sec4{
	flex-basis: 200px;
	padding-left: 22px;
	}
	.title2sec4{
	flex-basis: 200px;
	padding-left: 15px;

	}
	.title3sec4{
	flex-basis: 300px;
	padding-left: 5px;

	}
	.title4sec4{
	flex-basis: 200px;
	padding-left: 0px;
	padding-right: 5px;
	}

}
